name: MAUI Unit Tests

on:
  push:
    branches:
      - main
      - develop
      - feature/*
      - hotfix/*
      - release/*
      - infra/runner-toevoegen
  pull_request:
    branches:
      - main
      - feature/*
      - hotfix/*
      - release/*
      - develop

jobs:
  test:
    runs-on: macOS-latest
    steps:
      - name: Haal de repository op
        uses: actions/checkout@v4

      - name: Installeer .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Installeer MAUI workloads
        run: dotnet workload install maui-maccatalyst

      - name: Herstel afhankelijkheden
        run: dotnet restore

      - name: Bouw de applicatie
        run: dotnet build ProjectBotenReservering.App/ProjectBotenReservering.App.csproj --configuration Release --no-restore --framework net9.0-maccatalyst

      - name: Voer unit tests uit en genereer rapport
        run: dotnet test --configuration Release --verbosity normal --results-directory "TestResults" --logger "trx;LogFileName=testresults.trx"

      - name: Upload test resultaten
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: TestResults/testresults.trx